<div class="column is-one-quartier">
  <nav class="panel">
    <p class="panel-heading">Profile</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= current_user.name %></strong><br />
              <small><%= current_user.username %></small><br />
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <div class="level is-mobile">
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Toucs</p>
            <p class="title is-6"><%= current_user.toucs.count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Following</p>
            <p class="title is-6"><%= current_user.following.count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Followers</p>
            <p class="title is-6"><%= current_user.followers.count %></p>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p><%= link_to 'Follow', user_relationships_path(current_user), methode: :post, class: "btn btn-danger" unless @rel.present? %>
              <%= link_to 'Unfollow', relationship_path(@rel.id), methode: :delete, class: "btn btn-danger" if @rel.present? %></p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>