<p id="notice"><%= notice %></p>

<h1>Toucs</h1>

<table>
  <thead>
    <tr>
      <th>Touc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toucs.each do |touc| %>
      <tr>
        <td><%= touc.touc %></td>
        <td><%= link_to 'Show', touc %></td>
        <td><%= link_to 'Edit', edit_touc_path(touc) %></td>
        <td><%= link_to 'Destroy', touc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Touc', new_touc_path %>
